$primery-text-color: #292d32;
$menu-text-color: #9197b3;
$accent-text-color: #5932ea;
$primery-bgc: #f7f4ff;
$secondary-bgc: #ffffff;

$transition__stock: all 300ms linear;
$primery_font: "Poppins", sans-serif;
